.tophead {
    margin-top: 5rem;
}
#navbaaar {
    background-color:darkcyan ;
}
.daily {
    margin-left: 5rem;
    color: white;
    font-weight: 700;
    /* background-color: aquamarine; */
}
.linktop {
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
    /* background-color: darkcyan; */
    margin-left: 1rem;
}
.linktop::after {
    color: bisque;
}
.linktop:hover {
    color: antiquewhite;
}
.linktop::before{
    color: antiquewhite;
}
.linktop:active{
    color: aquamarine;
}